AUTH0_CLIENT_ID="V2A0bHGbJeY1JlYSmXJoHLts1atshZYn"
AUTH0_CLIENT_SECRET="QCAql2sW0E5xsuTLY9CBSHYltPMEpoRWhXPMKBAvKtwjLgrTiuiEoJVYK3KjBfbA"
AUTH0_DOMAIN="icfg-lpfzl6ejhmeudwfnf0rviy2r.us.auth0.com"
AUTH0_SECRET="71d2ecd9fe03b4bd82611f2e6725569203380575a439fe5af6393aca8ae4f1fa"
AWS_ACCOUNT_ID="595710543826"
AWS_REGION="us-east-1"
AWS_RESOURCE_ARN="arn:aws:rds:us-east-1:595710543826:cluster:dcp-production-db"
AWS_ROLE_ARN="arn:aws:iam::595710543826:role/Vercel/access-dcp-production-db"
PGDATABASE="postgres"
PGHOST="dcp-production-db.cluster-cs7wcksg2js1.us-east-1.rds.amazonaws.com"
PGPORT="5432"
PGSSLMODE="require"
PGUSER="postgres"
OPENAI_API_KEY=""
